Jessy/First_Python_Challenge1.py
Jessy/Nba_Challenge.py
.DS_Store
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/conf/locale/en/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/conf/locale/en/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/conf/locale/en/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/conf/locale/en/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/utils/__pycache__/archive.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/conf/locale/en/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/conf/locale/en/__pycache__/formats.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/admin/__pycache__/forms.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/auth/__pycache__/decorators.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/auth/__pycache__/views.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/auth/management/commands/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/auth/management/commands/__pycache__/createsuperuser.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/sessions/management/__pycache__/__init__.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/sites/__pycache__/requests.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/contrib/staticfiles/__pycache__/storage.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/__pycache__/sql.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/__pycache__/templates.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/__pycache__/utils.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/commands/__pycache__/makemigrations.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/commands/__pycache__/migrate.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/commands/__pycache__/shell.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/commands/__pycache__/startapp.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/core/management/commands/__pycache__/startproject.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/db/migrations/__pycache__/optimizer.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/db/migrations/__pycache__/serializer.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/db/migrations/__pycache__/writer.cpython-39.pyc
La'Tonia/django-projects/django-env/lib/python3.9/site-packages/django/utils/__pycache__/archive.cpython-39.pyc
