
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App Task Page</title>
</head>
<body style="margin: 22px 44px;">
    <form action="{% url 'task' task_id %}" method="POST">
        {% csrf_token %} {{ form }}
        <br>
        <br>
        <input type="submit" name="save" value="update/save" style="width: 100%; padding: 23px; background-color: lightyellow; border-color: #f4eded; cursor: pointer;"/>
        <br>
        <input type="submit" name="in_progress" value="in progress" style="width: 100%; padding: 23px; background-color: #ffff00; border-color: #f4eded; cursor: pointer;"/>
        <br>
        <input type="submit" name="completed" value="complete" style="width: 100%; padding: 23px; background-color:#fee901; border-color: #f4eded; cursor: pointer;"/>
        <br>
        <br>
        <input type="submit" name="delete" value="DELETE" style="width: 100%; padding: 23px; background-color: darkred; border-color: #f4eded; cursor: pointer;"/>
    </form>
    
    <br>
    <form action="notes">
        <input type="submit" value="add note" style="width: 100%; padding: 23px; background-color: #161818; border-color: #f4eded; color: whitesmoke; cursor: pointer;" /> 
    </form>
    <br>
    <form action="{% url 'todolist' %}">
        <input type="submit" value="homepage" style="width: 100%; padding: 23px; background-color: #877666; border-color: #f4eded; color: whitesmoke; cursor: pointer;" /> 
    </form>
    
</body>
</html>