{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
</head>
<body style="margin: 22px 44px;">
    
<link rel="stylesheet" href="{% static 'todolist_app/todolist/static/style.css' %}" />

<h1 style="font-size:larger; margin-bottom: -22px;">TO DO LIST APP</h1>
<h4 style="font-size: small; font-style: italic; font-weight: normal;">welcome to that place where listers gather to-dos</h2>

<!-- <h2>MY TO-DOS</h2> -->

<form action="{% url 'todolist' %}" method='POST'>
    {% csrf_token %} {{ form }}
    <input type="submit" name="create" value="create" style="width: 100%; padding: 23px; background-color: #f9db6d; border-color: #f4eded; margin-top: 3px"/>
</form>


<ul>
    {% for task in tasks %}
    {% if not task.completed %}
    <li>
        <a href="{% url 'task' task.task_id %}">{{ task.task }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h2 style="font-size:larger; margin-bottom: -17px;" >IN PROGRESS</h2>
<ul>
    {% for task in tasks %}
    {% if task.in_progress %}
    <li>
        <a href="{% url 'task' task.task_id %}">{{ task.task }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>


<h2 style="font-size:larger; margin-bottom: -17px;" >COMPLETED</h2>
<ul style="text-decoration: line-through;" >
    {% for task in tasks %}
    {% if task.completed %}
    <li>
        <a href="{% url 'task' task.task_id %}">{{ task.task }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<form action="{% url 'notes' %}">
    <input type="submit" value="notes page" style="width: 100%; padding: 23px; background-color: #161818; border-color: #f4eded; color: whitesmoke;" /> 
</form>

<h2 style="font-size:larger; margin-bottom: -1px;" >NEVER TODO</h2>
<form>
    <input type="text" id="never_todo" name="never_todo" placeholder="unburdened from ..." style="width:100%; margin-bottom: 3px;"/>
    <input type="submit" name="never_todo" value="submit" style="width: 100%; padding: 23px; background-color: darkred; border-color: #f4eded; color: whitesmoke;" />
</form>

</body>
</html>