<h1 style='font-variant: small-caps; margin-left: 24px; font-size: xxx-large; text-shadow: 0.5px 0.5px black; color: brown'>see you later, {{ name|title }} . .. </h1>


<!-- practice -->
<!-- <h1 style='font-variant: small-caps; margin-left: 24px; font-size: xxx-large; text-shadow: 0.5px 0.5px black; color: brown'>see you later, {{ name }} . .. </h1> -->

<!-- more practice -->
<!-- <h1 style='font-variant: small-caps; margin-left: 24px; font-size: xxx-large; text-shadow: 0.5px 0.5px black; color: brown'>see you later, {{ name }} . .. Django is expecting you!</h1> -->