<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>STAY</title>

</head>
<body>
    
<h1 style="font-style: italic; font-size: medium; margin-left: 37px;"> {{ name|title }}, please stay. Python,<br/>Django, and the others are<br/>expecting us - we're needed.</h1>

<hr style="border-width: 7px; border-color: blue" />

<h2 style="margin-left: 21px; color: darkblue; text-shadow: 1px 1px black;">CHOOSE FAVORITES</h2>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container">Backend
      <span class="checkmark"></span>
    </label>
  
  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container">Javascript
      <span class="checkmark"></span>
    </label>
  
  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container" >NODE
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container">React
    <span class="checkmark"></span>
  </label>
  
  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container" >HTML
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container" >Express
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container" >CSS
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container">Python
    <span class="checkmark"></span>
  </label>

  <br/>  
  
<input type="checkbox" style="margin-left: 21px;">
  <label class="container">DB
    <span class="checkmark"></span>
  </label>
  
  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container">Django
    <span class="checkmark"></span>
  </label>
  
  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container"> FETCH
    <span class="checkmark"></span>
  </label>
  
  <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label class="container">Frontend
        <span class="checkmark"></span>
      </label>

      <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container"> Websockets
    <span class="checkmark"></span>
  </label>
  
  <br/> 

<input type="checkbox" style="margin-left: 21px;">
  <label class="container"> AXIOS
    <span class="checkmark"></span>
  </label>
  
  <br/> 

<input type="checkbox" style="margin-left: 21px;">
  <label class="container" >Markdown
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label>API
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container" >Sequelize
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label class="container">SQL
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
  <label>Bootstrap
    <span class="checkmark"></span>
  </label>

  <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label>NoSQL
      <span class="checkmark"></span>
    </label>

    <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label>User Interface/UI
      <span class="checkmark"></span>
    </label>

    <br/>

<input type="checkbox" style="margin-left: 21px;">
        <label>CORS
          <span class="checkmark"></span>
        </label>

    <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label>User Experience/UX
      <span class="checkmark"></span>
    </label>

    <br/>
    <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label class="container">FULL STACK
        <span class="checkmark"></span>
      </label>

    <br/>
    <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label class="container" style="font-weight: bold;">FREELANCE
        <span class="checkmark"></span>
      </label>

    <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label class="container" style="font-weight: bold;">CONSULTATION
        <span class="checkmark"></span>
      </label>

    <br/>

<input type="checkbox" style="margin-left: 21px;">
    <label class="container" style="font-weight: bold;">W2 EMPLOYEE
        <span class="checkmark"></span>
      </label>

</body>
</html>

