<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>444+ Fiest Feast Sandwiches</title>

    <style>
        body {background-color:linen }
    </style>
</head>
<body>
    
    <h1 style="color: lightseagreen; text-shadow: 0.5px 0.5px black; margin-left: 13px;">444+ FIEST FEAST SANDWICHES</h1>

    <ol>
        {% for menu_item in menu %}
        <li>{{ menu_item }}</li>
        <br/>
        {% endfor %}
    </ol>

</body>
</html>





